html {
  height: 100%;
  width: 100%;
}

body{
  background-color: gray;
}

h1{
  background-color: black;
  color: orange;
}

p{
  color: white;
}

#center{
  text-align: center;
}

h2{
  background-color: black;
  color: yellow;
}

.live{
  width: 30%;
  
}